<h1>タスク管理アプリ「TasCal」</h1>
<h2>空き時間ベースで予定を把握できるタスク管理アプリです</h2>
<!-- <h2>タスクに割ける時間を計算出来ます！</h2> -->
<p>残り時間：締切までの時間のうち、予定が入っていない時間</p>
<p>使える空き時間：締切まで空き時間の中から食事や睡眠の時間などを除いた、実際に使える時間の予想値</p>

<h3><a href="/schedule/insert">予定の一覧はこちら</a></h3>
