<%= form_tag("/task/delete", method: "post") do %>
  <table border=1>
    <tr>
      <th>タスク名</th>
      <th>締切</th>
      <th>締切までの空き時間</th>
      <th>実質空き時間(予想)</th>
    </tr>
    <% tasks = Task.all.order("deadline ASC") %>
    <%= render :partial => "listingtask.html.erb",
    :collection => tasks %>
  </table>
<% end %>
