<%= form_tag("/task/delete", method: "post") do %>
  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th>タスク名</th>
          <th>締切</th>
          <th>残り時間</th>
          <th>使える空き時間(予想)</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% tasks = Task.all.order("deadline ASC") %>
        <%= render :partial => "listingtask.html.erb",
        :collection => tasks %>
      </tbody>
    </table>
  </div>
<% end %>
