<%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/hint.css/2.0.0/hint.min.css" %>
<%= form_tag("/task/delete", method: "post") do %>
  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>タスク名</th>
          <th>締切</th>
          <th><span class="hint--top" data-hint="締切までの時間のうち、予定が入っていない時間">空いている時間</span></th>
          <!--
          <th><span class="hint--top" data-hint="締切まで空き時間の中から食事や睡眠の時間などを除いた、実際に使える時間の予想値">使える空き時間(予想)</span></th>
          -->
          <th>完了</th>
          <th>編集</th>
        </tr>
      </thead>
      <tbody>
        <% tasks = get_available_tasks.order("deadline ASC") %>
        <%= render :partial => "listingtask.html.erb",
        :collection => tasks %>
      </tbody>
    </table>
  </div>
<% end %>
