<%= form_tag("/task/delete", method: "post") do %>
  <table border=1>
    <tr>
      <th>タスク名</th>
      <th>締切</th>
      <th>締切までの残り時間</th>
    </tr>
    <% tasks = Task.all.order("deadline ASC") %>
    <%= render :partial => "listingtask.html.erb",
    :collection => tasks %>
  </table>
<% end %>