<h1>Schedule#display</h1>
<p>Find me in app/views/schedule/display.html.erb</p>

<%= form_tag("/schedule/delete", method: "post") do %>
  <table>
    <tr>
      <th>予定名</th>
      <th>開始日</th>
      <th>終了日</th>
    </tr>
    <% schedules = @schedules %>
    
      <% schedules.each do |schedule| %>
    <tr>
      <% p schedule.start_time %>
        <td><%= schedule.name %></td>
        <td><%= schedule.start_time.strftime("%Y年%m月%d日%H時%M分") %></td>
        <td><%= schedule.end_time.strftime("%Y年%m月%d日%H時%M分") %></td>
        
      </tr>
    <% end %>
  </table>
<% end %>
