<head>
 <link rel='stylesheet' href='fullcalendar.css' />
 <script src='fullcalendar_lib/jquery.min.js'></script>
 <script src='fullcalendar_lib/moment.min.js'></script>
 <script src='fullcalendar_lib/fullcalendar.js'></script>
<head>
<div id="#schedule"></div>