<div id="branding">

  <div class="container">
    <div class="row h-100">

      <div class="branding-left col-md-12 col-lg-7 h-100">
        <div class="flex-wrapper">
          <%= image_tag('catchphrase.png', :class => "img-message") %>
          <a class="login-wrapper" href="/login">
            <span>Googleアカウントでログイン</span>
            <%= image_tag('btn_google_signin_dark_pressed_web.png', :size => "166x40") %>
          </a>
        </div>
      </div>

      <div class="branding-right col-md-12 col-lg-5 h-100">
        <%= image_tag('icons.png', :class => "img-icons") %>
      </div>

    </div>
  </div>

</div>

<div id="login">
  <div class="container">
    <div class="row">

      <div class="col-sm-12">
      </div>

    </div>
  </div>

</div>