@import "bootstrap-sprockets";
@import "bootstrap";

body {
	font-size: 16px;
	text-align: center;
}

header {
	margin-top: 100px;
	margin-bottom: 100px;
}

h1 {
	font-size: 48px;
	font-weight: 800;
}
h2 {
	font-size: 22px;
	font-weight:600;
}
h3 {
	font-size: 24px;
	font-weight: 600;
}

p {
	font-size: 18px;
	font-weight: 600;
}

.dropdown.nav-avatar {

  .dropdown-toggle:after {
      display: none;
  }
  .dropdown-menu > {
    a {
      text-align: right;
      line-height: 25px;
    }
    .user-id {
      span {
        line-height: 25px;
      }
      span:nth-child(1) {
        font-weight: bold;
      }
      span:nth-child(2) {
        display:block;
        text-align: right;
      }
    }
    a:hover {
      background-color: #3187d2;
      color: #ffffff;
    }
  }
}

.btn.btn-primary {
	font-size: 28px;
}

.table th {
	text-align: center;
}

.table td {
	vertical-align: middle!important;
}

.row {
	margin-top: 15px;
}

#insert_section {
	padding-top: 10px;
	padding-bottom: 10px;
	/*margin-right: 4.5rem;*/
	background-color: #ddd;
	border-radius: .25rem;
}

.bg-danger {
	color: white;
	background-color: #dc3545!important;
}

.bg-warning {
	color: white;
	background-color: #ffc107!important;
}