@import "bootstrap-sprockets";
@import "bootstrap";

body {
	font-size: 16px;
	text-align: center;
}

header {
	margin-top: 100px;
	margin-bottom: 100px;
}

h1 {
	font-size: 48px;
	font-weight: 800;
}
h2 {
	font-size: 22px;
	font-weight:600;
}
h3 {
	font-size: 24px;
	font-weight: 600;
}

p {
	font-size: 18px;
	font-weight: 600;
}

.add {
  font-size: 24px;
}

.split-box {
  padding: 40px;
}

.dropdown.nav-avatar {

  .dropdown-toggle:after {
      display: none;
  }
  .dropdown-menu > {
    a {
      text-align: right;
      line-height: 25px;
    }
    .user-id {
      span {
        line-height: 25px;
      }
      span:nth-child(1) {
        font-weight: bold;
      }
      span:nth-child(2) {
        display:block;
        text-align: right;
      }
    }
    a:hover {
      background-color: #3187d2;
      color: #ffffff;
    }
  }
}

.btn.btn-primary {
	font-size: 16px;
}

.table th {
	text-align: center;
}

.table td {
	vertical-align: middle!important;
}

.row {
	margin-top: 15px;
}

#insert_section {
	padding-top: 10px;
	padding-bottom: 10px;
	/*margin-right: 4.5rem;*/
	background-color: #ddd;
	border-radius: .25rem;
}

.bg-danger {
	color: white;
	background-color: #dc3545!important;
}

.bg-warning {
	color: white;
	background-color: #ffc107!important;
}

.notification-affected_tasks {
  padding: 5px 0;
  margin-bottom: 20px;
  color: #000066;

  .wrapper {
    margin: auto;
    width: 100%;

    table {
      width: 100%;
      margin: auto;

      tr {
        height: 42px;
      }

      tr:nth-of-type(odd) {
        background-color: #ffda6c;
      }

      .task-name {
        line-height: 42px;
        white-space: nowrap;
        width: 50%;
        text-align: right;
        padding-right: 50px;
        padding-bottom: 0;
        padding-top: 0;
      }
      .task-info {
        width: 120px;
      }
      .time-diff {
        text-align: left;

        .badge {
          font-size: inherit;
          margin-bottom: 2px;

          &:before {
            content: "- ";
          }
        }
      }
    }

  }
}


/* 時間が少ない時の警告のホバー表示の位置調整 */
.table {
  .hint--top:after, .hint--top:before {
    -webkit-transform: translateX(-10%);
    -moz-transform: translateX(-10%);
    transform: translateX(-10%);
  }

  [data-hint]:hover:after {
    -webkit-transform: translateX(-10%) translateY(-8px);
    -moz-transform: translateX(-10%) translateY(-8px);
    transform: translateX(-10%) translateY(-8px);
  }
}